.fantasy__textInput{
    width: 14rem;
    margin: 0.5rem 1rem 1rem 1rem;
    padding: 0 1rem;
    height: 2rem;
    text-align: center;
    background: rgb(177, 138, 80);
    color: rgb(54, 14, 14);
    border: 2px rgb(54, 14, 14) solid;
}

@media screen and (max-width: 62.5rem ) {

    .fantasy__textInput{
        display: block;
    }
    
}

.fantasy__textInput:focus{
    filter: brightness(130%);
    outline: 0;
}

.fantasy__textInput-invalid{
    border: 3px solid red;
}

.fantasy__label{
    margin: 1rem;
    color: rgb(177, 138, 80);
    font-family: 'MedievalSharp', cursive;
}

@media screen and (max-width: 62.5rem ) {

    .fantasy__label{
        display: block;
    }
    
}

